{% load static %}
{% if not request.user.is_authenticated %}
    <script>window.location.href = "{% url 'antrean:login_staff' %}";</script>
{% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}Dashboard Staff{% endblock %} - Antrean UNWIR</title>
  <meta content="Website Antrean Universitas Wiralodra" name="description">
  <meta content="antrean, perkuliahan, unwir" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/logo.png' %}" rel="icon">
  <link href="{% static 'assets/img/logo.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Nunito:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'style/style1.css' %}" rel="stylesheet">
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'antrean:dashboard_staff' %}" class="logo d-flex align-items-center">
        <img src="{% static 'assets/img/logo.png' %}" alt="">
        <span class="d-none d-lg-block">ANTAR</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% static 'assets/img/user.jpeg' %}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ request.user.nama|default:request.user.username }}</span>
          </a>

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ request.user.nama|default:request.user.username }}</h6>
              <span>{{ request.user.role|default:"Staff" }}</span>
            </li>

            <li><hr class="dropdown-divider"></li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'antrean:logout_staff' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Keluar</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <!-- ======= Sidebar ======= -->
  {% include 'staff/menu_staff.html' %}

  <!-- ======= Content Wrapper ======= -->
  <main id="main" class="main">

      {% block content %}
      {% endblock %}

  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Antrean UNWIR</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Dibuat oleh <a href="#">Alfian Bayu Aji</a>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
  </a>

  <!-- Vendor JS Files -->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

  <script>
    setInterval(function() {

    }, 1000);
  </script>
</body>
</html>
