# fly.toml app configuration file generated for antar-broken-dust-1265 on 2026-02-25T01:25:52+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'antar-broken-dust-1265'
primary_region = 'sin'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
