{% extends "staff/dashboard_staff.html" %}
{% load static %}

{% block content %}

<div class="pagetitle">
  <h1>Layanan</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'antrean:dashboard_staff' %}">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Layanan</li>
    </ol>
  </nav>
</div>

<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-md-8">
              <h5 class="card-title">Data Layanan</h5>
              <p>Berikut data layanan di Universitas Wiralodra Indramayu.</p>
            </div>
          </div>

          {% if messages %}
            {% for msg in messages %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              </div>
            {% endfor %}
          {% endif %}

          <div class="table-responsive">
            <table class="table datatable">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Layanan</th>
                  <th>Lama Proses</th>
                </tr>
              </thead>
              <tbody>
                {% for item in data %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.layanan }}</td>
                    <td>{{ item.prediksi|floatformat:2 }} Menit</td>
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="4" class="text-center">Data layanan kosong.</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

{% endblock %}
